<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Blockchain Demo</title>
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
	<app-root></app-root><!-- 
	<script type="text/javascript" src="./js/jquery.min.js"></script>
	<script type="text/javascript" src="./js/tether.min.js"></script>
	<script type="text/javascript" src="./js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="./js/ie10-viewport-bug-workaround.js"></script> -->
<script type="text/javascript" src="inline.js"></script><script type="text/javascript" src="styles.5b1995db09dbadab7fef.bundle.js"></script><script type="text/javascript" src="scripts.ae1f129f917607e4cba0.bundle.js"></script><script type="text/javascript" src="main.86d77b05b6e63cbefdb6.bundle.js"></script></body>
</html>
