<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Blockchain Demo</title>
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
	<app-root></app-root>
	<script type="text/javascript" src="./js/jquery.min.js"></script>
	<script type="text/javascript" src="./js/tether.min.js"></script>
	<script type="text/javascript" src="./js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="./js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" src="inline.js"></script><script type="text/javascript" src="styles.6d3eff3af6eddd393e52.bundle.js"></script><script type="text/javascript" src="main.9bae2ce478e88c4d5e93.bundle.js"></script></body>
</html>
